@value sizeScreensSm,sizeScreensMd,sizeScreensLg,padding4,padding8,padding16,padding24,padding32,roundSm,roundMd,roundLg,roundFull from 'common/size.css';
@value makerWhite, makerLightGrey, makerGrey, makerMediumGrey, makerDarkGrey, makerBlack, makerDarkBlue, makerBlue, makerSideBarBg, sliderBg, makerYellow, makerPink, makerGreen, makerBg, makerMenuBg, systemRed, systemYellow, systemGreen, makerShadow from 'common/colors.css';
.container {
  padding: 80px 0;
}
.item {
  display: flex;
  width: 100%;
  transition: all 250ms ease-in;
  cursor: pointer;
}

.item.rowReverse {
  flex-direction: row-reverse;
}
.item.row {
  flex-direction: row;
}

.rowReverse {
  text-align: end;
}

.rowReverse .tags {
  justify-content: flex-end;
}

.banner {
  flex-basis: 50%;
  width: 100%;
  overflow: hidden;
  box-shadow: 0px 4px 32px rgba(18, 18, 18, 0.1);
}
.contents {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title {
  position: relative;
  font-size: 2rem;
  padding-bottom: 8px;
  margin-bottom: 32px;
  display: inline-block;
}
.title::before {
  position: absolute;
  z-index: -1;
  background-color: makerBlue;
  bottom: 0px;
  left: 0px;
  content: '';
  width: 0px;
  height: 4px;
  transition: all 250ms ease-in;
}
.subtitle {
  font-size: 1.4rem;
  padding-bottom: 10px;
  color: makerDarkGrey;
}
.tags {
  display: flex;
}
.tag {
  padding-right: 8px;
  font-size: 1.2rem;
  color: makerGreen;
}
.imgBox {
  overflow: hidden;
}
.img {
  width: 100%;
  height: 100%;
  transition: all 200ms ease-in;
}
.itembtns {
  display: flex;
}
.itemBtn {
  font-size: 1rem;
  width: 80px;
  height: 40px;
  margin-right: 10px;
  border-radius: 20px;
  background-color: makerLightGrey;
  color: makerBlack;
}
.link {
  position: relative;
  background-color: #eee;
  color: rgba(255, 145, 0);
  font-weight: bold;
  font-size: 1rem;
  width: 80px;
  height: 80px;
  border-radius: 40px;
}
.link:after {
  border: 1px solid #eee;
  border-radius: 40px;
  content: '';
  display: block;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  transform: scale(1);
  transform-origin: center center;
  animation: 2400ms pulse forwards infinite ease-in-out;
  opacity: 0;
}
.link:hover {
  background-color: rgba(255, 145, 0);
  color: white;
}

.link:hover::after {
  border: 1px solid rgba(255, 145, 0);
  animation: 700ms pulse forwards infinite ease-in-out;
}
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  0% {
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

@media screen and (max-width: sizeScreensMd) {
  .container {
    padding: 20px 0;
  }
  .item.rowReverse,
  .item.row {
    flex-direction: column;
  }
  .rowReverse {
    text-align: start;
  }
  .rowReverse .tags {
    justify-content: flex-start;
  }
  .title {
    font-size: 1.6rem;
    padding-bottom: 20px;
    margin-bottom: 0;
  }
  .subtitle {
    font-size: 1.2rem;
  }
  .link {
    font-size: 1.6rem;
    margin-top: 20px;
  }
}
