@value sizeScreensSm,sizeScreensMd,sizeScreensLg,padding4,padding8,padding16,padding24,padding32,roundSm,roundMd,roundLg,roundFull from 'common/size.css';
@value makerWhite, makerLightGrey, makerGrey, makerMediumGrey, makerDarkGrey, makerBlack, makerDarkBlue, makerBlue, makerSideBarBg, sliderBg, makerYellow, makerPink, makerGreen, makerBg, makerMenuBg, systemRed, systemYellow, systemGreen, makerShadow from 'common/colors.css';

.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  z-index: 99999;
  transition: all 300ms ease;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 10%,
    rgba(255, 255, 255, 0.2) 80%,
    rgba(255, 255, 255, 0) 100%
  );
}
.container:hover {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 10px 20px rgba(18, 18, 18, 0.05);
}
.nav {
  height: 80px;
  position: relative;
}
.project {
  position: absolute;
  font-weight: bold;
  font-size: 1rem;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  transition: all 300ms ease;
}
.project:hover {
  color: makerGreen;
}
.home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: auto;
}
.logo {
  width: 100%;
  height: 100%;
}
