@value sizeScreensSm,sizeScreensMd,sizeScreensLg,padding4,padding8,padding16,padding24,padding32,roundSm,roundMd,roundLg,roundFull from 'common/size.css';
@value makerWhite, makerLightGrey, makerGrey, makerMediumGrey, makerDarkGrey, makerBlack, makerDarkBlue, makerBlue, makerSideBarBg, sliderBg, makerYellow, makerPink, makerGreen, makerBg, makerMenuBg, systemRed, systemYellow, systemGreen, makerShadow from 'common/colors.css';

.container {
  background-color: makerLightGrey;
  width: 100%;
  padding: 180px 0 180px;
}
.title {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.contents {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.list {
  width: 100%;
  margin: 20px;
  border-bottom: 1px solid makerBlack;
}

.img {
  display: inline-block;
  width: 240px;
  height: 240px;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  transition: background 150ms ease-in, opacity 300ms ease-in;
  opacity: 0;
}

.contents:hover .img {
  opacity: 0.8;
}

@media screen and (max-width: sizeScreensMd) {
  .container {
    padding: 40px 0;
  }
}
