@value sizeScreensSm,sizeScreensMd,sizeScreensLg,padding4,padding8,padding16,padding24,padding32,roundSm,roundMd,roundLg,roundFull from 'common/size.css';
@value makerWhite, makerLightGrey, makerGrey, makerMediumGrey, makerDarkGrey, makerBlack, makerDarkBlue, makerBlue, makerSideBarBg, sliderBg, makerYellow, makerPink, makerGreen, makerBg, makerMenuBg, systemRed, systemYellow, systemGreen, makerShadow from 'common/colors.css';

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.visualBox {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.textBox {
  flex-basis: 60%;
  width: 100%;
}
.imgBox {
  position: relative;
  height: 90vh;
  flex-basis: 40%;
  background-image: url(../../../../../public/images/mainImg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}
.imgBox:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background-image: url(../../../../../public/images/mainImg-top.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}
.rollingText {
  margin-top: 60px;
  width: 100%;
  height: 40px;
}
@media screen and (max-width: sizeScreensMd) {
  .visualBox {
    position: static;
    flex-direction: column;
  }
  .textBox {
    position: static;
    flex-basis: 100%;
    width: 100%;
  }
  .imgBox {
    width: 100%;
    height: 60vh;
    background-color: pink;
  }
}

@media screen and (max-width: sizeScreensSm) {
}
