@value sizeScreensSm,sizeScreensMd,sizeScreensLg,padding4,padding8,padding16,padding24,padding32,roundSm,roundMd,roundLg,roundFull from 'common/size.css';
@value makerWhite, makerLightGrey, makerGrey, makerMediumGrey, makerDarkGrey, makerBlack, makerDarkBlue, makerBlue, makerSideBarBg, sliderBg, makerYellow, makerPink, makerGreen, makerBg, makerMenuBg, systemRed, systemYellow, systemGreen, makerShadow from 'common/colors.css';

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 120px 0;
  opacity: 0;
  transform: translate(0, 25px);
  transition: opacity 250ms ease-out, transform 300ms ease;
}
.openContainer {
  opacity: 1;
  transform: translate(0, 0);
  transition: opacity 250ms ease-out, transform 300ms ease;
}
.visualBox {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 90%;
}

.textBox {
  position: absolute;
  z-index: 1;
  flex-basis: 60%;
  width: 100%;
}
.imgBox {
  position: relative;
  height: 90vh;
  max-height: 800px;
  flex-basis: 60%;
  background-image: url(../../../../../public/images/mainImg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}
.imgBox:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background-image: url(../../../../../public/images/mainImg-top.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}
.rollingText {
  margin-top: 60px;
  width: 100%;
  height: 40px;
}
@media screen and (max-width: sizeScreensMd) {
  .container {
    padding: 40px 0;
  }
  .visualBox {
    position: static;
    height: 90vh;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding-top: 40px;
  }
  .textBox {
    flex-basis: 30%;
    position: static;
    width: 100%;
  }
  .imgBox {
    height: 80vh;
    width: 100%;
  }
}

@media screen and (max-width: sizeScreensSm) {
}
