@value sizeScreensSm,sizeScreensMd,sizeScreensLg,padding4,padding8,padding16,padding24,padding32,roundSm,roundMd,roundLg,roundFull from 'common/size.css';
@value makerWhite, makerLightGrey, makerGrey, makerMediumGrey, makerDarkGrey, makerBlack, makerDarkBlue, makerBlue, makerSideBarBg, sliderBg, makerYellow, makerPink, makerGreen, makerBg, makerMenuBg, systemRed, systemYellow, systemGreen, makerShadow from 'common/colors.css';

.container {
  position: relative;
  width: 100%;
  min-height: 800px;
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: makerBlack;
}
.contents {
  width: 100%;
  padding: 60px 20px;
  color: white;
}
.description {
  font-size: 1.2rem;
  line-height: 1.8rem;
}
.orangeColor {
  color: rgb(255, 145, 0);
}
.textBold {
  font-weight: bold;
}
