@value sizeScreensSm,sizeScreensMd,sizeScreensLg,padding4,padding8,padding16,padding24,padding32,roundSm,roundMd,roundLg,roundFull from 'common/size.css';
@value makerWhite, makerLightGrey, makerGrey, makerMediumGrey, makerDarkGrey, makerBlack, makerDarkBlue, makerBlue, makerSideBarBg, sliderBg, makerYellow, makerPink, makerGreen, makerBg, makerMenuBg, systemRed, systemYellow, systemGreen, makerShadow from 'common/colors.css';

.container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translate(0, 25px);
  transition: opacity 800ms ease-out, transform 300ms ease;
}
.openContainer {
  opacity: 1;
  transform: translate(0, 0);
  transition: opacity 800ms ease-out, transform 300ms ease;
}
.section {
  width: 100vw;
  max-width: 1280px;
  padding: 60px 20px;
}
.mainBanner {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100vw;
  height: 100vh;
  background-image: url(../../../../../public/images/ra.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.openContainer .mainTitle {
  font-size: 4vw;
  opacity: 1;
}
.mainTitle {
  color: makerBlack;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px;
  width: 100%;
  text-align: center;
  font-size: 2vw;
  opacity: 0;
  transition: all 600ms ease;
}

.info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.infoItem {
  flex: 50%;
  display: flex;
  margin-bottom: 40px;
}
.itemTitle {
  font-size: 1.2rem;
  width: 100px;
  border-right: 4px solid makerGrey;
  margin-right: 20px;
}
.itemContent {
  line-height: 1.6rem;
  font-size: 1rem;
}

.contents {
  display: flex;
  flex-direction: row;
}
.imgBox {
  flex-basis: 50%;
}
.img {
  width: 100%;
}
.description {
  font-size: 1rem;
  line-height: 1.8rem;
  padding: 80px 20px;
}
.flex50 {
  flex-basis: 50%;
}
.flex25 {
  flex-basis: 25%;
}
.list {
  font-size: 1rem;
}
.listItem {
  padding: 10px 0;
  border-bottom: 1px solid makerGrey;
}

@media screen and (max-width: sizeScreensMd) {
  .mainBanner {
    background-size: auto 100%;
  }
  .info {
    flex-direction: column;
  }
  .infoItem {
    flex: 100%;
  }
  .contents {
    flex-direction: column;
  }
}
