@value sizeScreensSm,sizeScreensMd,sizeScreensLg,padding4,padding8,padding16,padding24,padding32,roundSm,roundMd,roundLg,roundFull from 'common/size.css';
@value makerWhite, makerLightGrey, makerGrey, makerMediumGrey, makerDarkGrey, makerBlack, makerDarkBlue, makerBlue, makerSideBarBg, sliderBg, makerYellow, makerPink, makerGreen, makerBg, makerMenuBg, systemRed, systemYellow, systemGreen, makerShadow from 'common/colors.css';

.container {
  position: relative;
  top: 0;
  flex-basis: 45%;
  overflow: hidden;
  margin: 20px;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  box-shadow: 0px 4px 32px rgba(18, 18, 18, 0.1);
  transition: all 250ms ease-in;
}
.contents {
  padding: 20px 20px 40px;
}
.categoryBox {
  display: flex;
  align-items: center;
  padding-bottom: 16px;
}
.icon {
  font-size: 32px;
}
.category {
  margin-left: 20px;
  position: relative;
  font-size: 1rem;
  background-color: makerGrey;
  padding: 8px 16px;
  border-radius: 12px;
}
.category::before {
  position: absolute;
  top: 0;
  left: -12px;
  z-index: -1;
  content: '';
  width: 20px;
  height: 20px;
  background-image: url(/public/images/comment.jpg);
  background-size: contain;
}
.title {
  position: relative;
  font-size: 2rem;
  padding-bottom: 8px;
  margin-bottom: 40px;
  display: inline-block;
}
.title::before {
  position: absolute;
  z-index: -1;
  background-color: makerBlack;
  bottom: 0px;
  left: 0px;
  content: '';
  width: 0px;
  height: 2px;
  transition: all 250ms ease-in;
}
.subtitle {
  font-size: 1.2rem;
  padding-bottom: 10px;
  color: makerDarkGrey;
}
.tags {
  display: flex;
}
.tag {
  padding-right: 4px;
  font-size: 1rem;
  color: makerDarkGrey;
}
.imgBox {
  overflow: hidden;
}
.img {
  width: 100%;
  height: 100%;
  transition: all 100ms ease-in;
}

.container:hover {
  top: -10px;
}

.container:hover .img {
  transform: scale(1.02);
}
.container:hover .title::before {
  width: 100%;
}
@media screen and (max-width: sizeScreensMd) {
  .container {
    flex-basis: 100%;
  }
}
