@value sizeScreensSm,sizeScreensMd,sizeScreensLg,padding4,padding8,padding16,padding24,padding32,roundSm,roundMd,roundLg,roundFull from 'common/size.css';
@value makerWhite, makerLightGrey, makerGrey, makerMediumGrey, makerDarkGrey, makerBlack, makerDarkBlue, makerBlue, makerSideBarBg, sliderBg, makerYellow, makerPink, makerGreen, makerBg, makerMenuBg, systemRed, systemYellow, systemGreen, makerShadow from 'common/colors.css';

.progressContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
  z-index: 100000;
  transition: all 0.3s ease;
}
.progressContainer:hover {
  height: 16px;
}
.progressBar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: #4caf50;
  width: 0%;
  transition: all 0.3s ease;
  z-index: -1;
}
