@value sizeScreensSm,sizeScreensMd,sizeScreensLg,padding4,padding8,padding16,padding24,padding32,roundSm,roundMd,roundLg,roundFull from 'common/size.css';
@value makerWhite, makerLightGrey, makerGrey, makerMediumGrey, makerDarkGrey, makerBlack, makerDarkBlue, makerBlue, makerSideBarBg, sliderBg, makerYellow, makerPink, makerGreen, makerBg, makerMenuBg, systemRed, systemYellow, systemGreen, makerShadow from 'common/colors.css';

.container {
  position: relative;
  width: 100%;
  min-height: 800px;
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contents {
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile {
  flex-basis: 50%;
}
.img {
  width: 100%;
  height: auto;
}
.content {
  flex-basis: 45%;
}
.contentTitle {
  font-size: 2rem;
  padding-bottom: 40px;
}
.description {
  font-size: 1rem;
  line-height: 1.8rem;
  padding-bottom: 20px;
  width: 80%;
}
.orangeColor {
  color: rgb(255, 145, 0);
}
.textBold {
  font-weight: bold;
}

@media screen and (max-width: sizeScreensMd) {
  .container {
    padding: 40px 0;
  }
  .contents {
    flex-direction: column;
  }
  .content {
    flex-basis: 50%;
    padding-top: 40px;
  }
  .description {
    width: 100%;
  }
}
