@value sizeScreensSm,sizeScreensMd,sizeScreensLg,padding4,padding8,padding16,padding24,padding32,roundSm,roundMd,roundLg,roundFull from 'common/size.css';
@value makerWhite, makerLightGrey, makerGrey, makerMediumGrey, makerDarkGrey, makerBlack, makerDarkBlue, makerBlue, makerSideBarBg, sliderBg, makerYellow, makerPink, makerGreen, makerBg, makerMenuBg, systemRed, systemYellow, systemGreen, makerShadow from 'common/colors.css';

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-image: url(../../../public/images/paper-bg.jpg); */
  background-position: center;
  background-size: cover;
  animation-name: containerClose;
  animation-duration: 0.4s;
  animation-delay: 2s;
  transition: all 0.4s;
}

.point {
  font-size: 2rem;
  font-weight: bold;
  color: systemGreen;
  animation: blink-effect 0.8s step-end infinite;
}
@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}

@keyframes containerClose {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
