@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);

body {
  font-family: "Spoqa Han Sans Neo", "Spoqa Han Sans JP", -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
  color: #202020;
  background-image: url(../public/images/paper-bg.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  text-decoration: none;
  color: inherit;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a,
a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
}
ul,
ol,
li {
  list-style: none;
}
button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
p,
ol,
ul,
li {
  margin: 0;
}

.transition-group {
  position: relative;
}

.fade-enter {
  opacity: 0;
  transform: translate(0, 25px);
  z-index: 1;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transform: translate(0, 0);

  transition: opacity 250ms ease-out, transform 300ms ease;
}
.fade-exit {
  opacity: 1;
  transform: translate(0, 0);
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transform: translate(0, 30px);

  transition: opacity 250ms ease-out, transform 300ms ease;
}
